<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Service</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="./logo.png" alt="Home Service Logo">
            Home Service
        </div>
    </div>
    <div class="nav">
        <a href="./index.html">Home</a>
        <a href="./escolha.html">Cadastrar-se</a>
        <a href="./atualizar.html">Atualizar Perfil</a>
        <a href="./deletar.html">Deletar Perfil</a>
        <a href="./criarAnuncio.html">Criar Anúncio</a>
        <input type="text" placeholder="Pesquisar">
    </div>
    <form class="form-content">
        <h2>Cadastrar Prestador</h2>
        <input type="text" placeholder="Nome completo">
        <input type="email" placeholder="Email">
        <input type="senha" placeholder="Senha">
        <input type="tel" placeholder="Telefone">
        <input type="cnpj" placeholder="CNPJ">
        <input type="horarioDisponibilidade" placeholder="Horario de disponibilidade">
        
        <button type="submit">Cadastrar</button>
    </form>
    <div class="footer">
        <a href="#">Quem somos</a>
        <a href="#">Termos de uso</a>
        <a href="#">Política de Privacidade</a>
        © 2023 Home Service
    </div>
    
</body>
</html>