<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../reportIcon.png" type="image/x-icon">
    <title>Visualizar Denúncias</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <nav class="navbar">
        <ul class="menu">
            <li><a href="../view/index.html">Página Inicial</a></li>
            <li><a href="../view/listar.html">Visualizar</a></li>
            <li><a href="../view/atualizar.html">Atualizar</a></li>
            <li><a href="../view/mapas.html">Mapas</a></li>
            <li><a href="../view/deletar.html">Deletar</a></li>
        </ul>
    </nav>
    <div id="form-container">
        <h1 id="listarOcoh1">Lista de Denúncias</h1>
        <table id="tabela">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Tipo</th>
                    <th>Data e Hora</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aqui serão inseridas as linhas da tabela -->
            </tbody>
        </table>
        <div id="botoes">
            <button onclick="listandoTabela()" type="submit" id="botao" >Listar</button>
        </div>
    </div>
    <script src="../controller/front.js"></script>
</body>

</html>